<h1>Editing subdomain</h1>

<% form_for([:admin, @site, @subdomain]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :views_today %><br />
    <%= f.text_field :views_today %>
  </p>
  <p>
    <%= f.label :views_all_time %><br />
    <%= f.text_field :views_all_time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @site, @subdomain] %> |
<%= link_to 'Back', admin_site_subdomains_path(@site) %>