<h1>Listing sites</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Domain</th>
    <th>Messages</th>
    <th>Tweets</th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%=h site.name %></td>
    <td><%=h site.domain %></td>
    <td><%= link_to 'Messages', admin_site_messages_path(site) %></td>
    <td><%= link_to 'Tweets', admin_site_tweets_path(site) %></td>
    <td><%= link_to 'Edit', edit_admin_site_path(site) %></td>
    <td><%= link_to 'Destroy', [:admin, site], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New site', new_admin_site_path %>