<h1>New site</h1>

<% form_for([:admin, @site]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :domain %><br />
    <%= f.text_field :domain %>
  </p>
  <p>
    <%= f.label :ga_id, "Google Analytics ID" %><br />
    <%= f.text_field :ga_id %>
  </p>
  <p>
    <%= f.label :css_url, "CSS URL (overrides)" %><br />
    <%= f.text_field :css_url %>
  </p>
  <p>
    <%= f.label :css, "CSS (additional)" %><br />
    <%= f.text_area :css %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_sites_path %>